{% extends 'base.html' %}

{% block content %}
{% if visi_irasai %}
    <legend class="border-bottom mb-4">Automobilio {{ masina.gamintojas }} (registracijos nr. {{ masina.reg_nr }}) taisymo istorija</legend>
    <a role="button" class="btn btn-primary float-left" href="{{ url_for('automobilis') }}">[Grįžti]</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">Sukurta</th>
                <th scope="col" class="text-center">Suma</th>
                <th scope="col" class="text-center">Tekstas</th>
                <th scope="col" class="text-center">Remonto Statusas</th>    
            </tr>
        </thead>
    {% for irasas in visi_irasai %}<tr>
            <td class="text-center"> {{ irasas.sukurta }}</td>
            <td class="text-center"> {{ irasas.suma }}</td>
            <td class="text-center"> {{ irasas.problema }}</td>
            <td class="text-center"> {{ irasas.statusas }}</td>
        </tr>

    {% endfor %}
    </table>

{% endif %}
{% endblock content %}
