{% extends 'base.html' %}

{% block content %}
<div class="content-section"><form method="POST" action="{{ url_for('irasas') }}">{{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Automobilio remonto statusas</legend>
        <div class="form-group">
            {{ form.problema.label(class="form-control-label") }}
            {% if form.problema.errors %}
                {{ form.problema(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.problema.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.problema(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.masina_id.label(class="form-control-label") }}
            {% if form.masina_id.errors %}
                {{ form.masina_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.masina_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.masina_id(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.statusas.label(class="form-control-label") }}
            {% if form.statusas.errors %}
                {{ form.statusas(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.statusas.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.statusas(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.suma.label(class="form-control-label") }}
            {% if form.suma.errors %}
                {{ form.suma(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.suma.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.suma(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form></div>

{% endblock %}
