{% extends 'base.html' %}

{% block content %}
{% if visi_masinos %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Registracija remontui</th>
            <th scope="col" class="text-center">Gamintojas</th>
            <th scope="col" class="text-center">Modelis</th>
            <th scope="col" class="text-center">Variklis</th>
            <th scope="col" class="text-left">Registracijos nr.</th>
        </tr>
    </thead>
{% for masin in visi_masinos.items %}<tr>
    <th scope="row"><a href="{{ url_for('ivedimas', masina_id=masin.id) }}">{{ masin.id }}</a></th>
    <td class="text-right">{{ masin.gamintojas }}</td>
    <td class="text-right">{{ masin.modelis }}</td>
    <td class="text-right">{{ masin.variklis }}</td>
    
    <td class="text-right">{{ masin.reg_nr }}</td>
    <td></td>
</tr>{% endfor %}
</table>
{% for page_num in visi_masinos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if visi_masinos.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('records', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('records', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
    ...
    {% endif %}
{% endfor %}
{% endif %}
{% endblock content %}
