{% extends 'base.html' %}

{% block content %}
<div class="content-section"><form method="POST" action="{{ url_for('remontas') }}">{{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Automobilio registravimas</legend>
        <div class="form-group">
            {{ form.gamintojas.label(class="form-control-label") }}
            {% if form.gamintojas.errors %}
                {{ form.gamintojas(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.gamintojas.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.gamintojas(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.modelis.label(class="form-control-label") }}
            {% if form.modelis.errors %}
                {{ form.modelis(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.modelis.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.modelis(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.metai.label(class="form-control-label") }}
            {% if form.metai.errors %}
                {{ form.metai(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.metai.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.metai(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.variklis.label(class="form-control-label") }}
            {% if form.variklis.errors %}
                {{ form.variklis(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.variklis.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.variklis(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.valst_nr.label(class="form-control-label") }}
            {% if form.valst_nr.errors %}
                {{ form.valst_nr(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.valst_nr.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.valst_nr(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.reg_nr.label(class="form-control-label") }}
            {% if form.reg_nr.errors %}
                {{ form.reg_nr(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.reg_nr.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.reg_nr(class="form-control form-control-lg") }}
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form></div>

{% endblock %}
